body {
    background-color: $body-color;
    display: flex;
    width: 100%;
}

#page{
    width: calc(100% - #{$sidebar-width});
}

#sidebar {
    width: $sidebar-width;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#contact, #info-bar{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 225px;
}

#contact{
    background-color: $light-grey;
}

.bkg{
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    &+*{
        z-index: 1;
        position: relative;
    }
}