#hero{
    .bkg{
        top: 0;
        right: 0;
        position: absolute;
        height: 100%;
        width: 50%;
    }
    .info{
        position: absolute;
        bottom: 80px;
        left: 20px;
    }
    height:calc(100% - 225px);
    background-color: $grey;
}